<footer class="footer">
  <p>

    </p>
<nav>
  <small>
    <a href="http://ticket-talk.herokuapp.com/">TicketTalk</a> by Corina Allen, Evette Telyas, Tylor Schafer & Andrew Johnson
  </small>
    <ul>
      <li><%= link_to "About Our Team",   about_path %></li>
      <li><%= link_to "Contact Us", contact_path %></li>
    </ul>
  </nav>
</footer>
