.chat {
	border: 1px solid lighten($secondary, 40%);
	background: lighten($secondary, 50%);
	height: 50vh;
	margin-left: 10%;
	border-radius: 2px 2px 0 0;
	overflow-y: auto;
  }

.chat-container {
  width: 70%;
}


.col-12.col-md-3 {
  width: 25%;
  float: left;
}

.col-auto a {
	color: #262626;
	align-self: left;
}

.col-auto.text-center {
  text-align: center;
  width: 120px;
  padding-top: 15px;
}

.chat-input {
	border-top: 0 none;
	border-radius: 0 0 5px 5px;
	margin-left: 10%;
  }

.chat-message-container {
padding: 5px;

& + .chat-message-container {
	margin-top: 10px;
}
}

.col-auto {
margin-top: 0.8rem;
margin-left: 2.6rem;
text-align: left;
}

.blue-message-content {
	border-radius: 1px;
	background: #009bde;
	color: $white;
	width: 92%;
	float: right;
	text-align: left;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 5px;
}

.gray-message-content {
	border-radius: 1px;
	background: #808080;
	color: $white;
	width: 92%;
	float: right;
	text-align: left;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.orange-message-content {
	border-radius: 1px;
	background: #c4862f;
	color: $white;
	width: 92%;
	float: right;
	text-align: left;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.message-content {
	border-radius: 1px;
	background: #009bde;
	color: $white;
	width: 92%;
	float: right;
	text-align: left;
}

.my-3 {
	min-height: 100vh;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.new-message-template {
	color: #9F6000;
	background-color: #FEEFB3;
	text-align: center;
}

.row {
	border-width:1px;
	border-style:solid;
	border-color:#262626;
	border-radius: 8px;
	box-shadow:0px 0px 5px 0px #009bde;
}

.text-right {
	float: right;
	margin-top: 0.1rem;
	color: black;
}
