/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #fdb957;
}

footer small {
  float: left;
  margin-right: 10px;
}

footer ul {
  // float: left;
  list-style: none;
}

footer ul li {
  float: right;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}
