.user-events-table {
  border: 1px solid #009BDE;
  background-color: #EEEEEE;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.user-events-table td, .user-events-table th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
.user-events-table tbody td {
  font-size: 13px;
}
.user-events-table tr:nth-child(even) {
  background: #e1e1e1;
}
.user-events-table thead {
  background: #009BDE;
  background: -moz-linear-gradient(top, #40b4e6 0%, #19a5e1 66%, #009BDE 100%);
  background: -webkit-linear-gradient(top, #40b4e6 0%, #19a5e1 66%, #009BDE 100%);
  background: linear-gradient(to bottom, #40b4e6 0%, #19a5e1 66%, #009BDE 100%);
  border-bottom: 2px solid #262626;
}
.user-events-table th {
  background: #009BDE;
  font-size: 17px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #D0E4F5;
}
.user-events-table thead th:first-child {
  border-left: none;
}

.my-events-title {
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  background-color: #fed69d;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 60%;
}
