.avatar {
	max-height:30px;
	border-radius: 15px;
	width:auto;
	vertical-align:middle;
  }

.room-nav-link {
	border: 3px solid lighten($primary, 40%);
	background: lighten($primary, 45%);

& + .room-nav-link {
		border-top: 0 none;
	}
}

.chat {
	border: 1px solid lighten($secondary, 40%);
	background: lighten($secondary, 50%);
	height: 50vh;
	margin-left: 10%;
	border-radius: 2px 2px 0 0;
	overflow-y: auto;
  }

.col-auto a {
	color: #262626;
	// text-shadow:0px 1px 1px #009bde;
	align-self: left;
}

.col-auto {
	margin-top: 0.8rem;
	margin-left: 2.6rem;
	text-align: left;
}

.row {
	border-width:1px;
	border-style:solid;
	border-color:#262626;
	border-radius: 8px;
	box-shadow:0px 0px 5px 0px #009bde;
}

.chat-input {
	border-top: 0 none;
	border-radius: 0 0 5px 5px;
	margin-left: 10%;
  }

.chat-message-container {
padding: 5px;

.avatar {
	margin: 5px;
}

.message-content {
	padding: 5px;
	// border: 1px solid #262626;
	border-radius: 1px;
	background: #009bde;
	color: $white;
	width: 570px;
	float: right;
	text-align: left;
	height: 3rem
}

.mb-1 {
	margin-top: 0.5rem;
}

& + .chat-message-container {
	margin-top: 10px;
}
}

.welcome-logo {
	margin-top: 50px;
	width: 50%;
  }

.home-button {
	background-color:#009bde;
	border-radius:31px;
	text-align: center;
	padding: 12px 0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Averta Demo PE cutted demo;
	font-size:21px;
	width:200px;
	height:60px;
	border:2px solid #262626;
	text-decoration:none;
	}

.home-button:hover {
	background-color:#e61271;
	text-decoration:none;
	color:#ffffff;
	}

.home-button:active {
	position:relative;
	top:1px;
	}

.home-form-inputs {
	width: 30%
	}

.navbar-brand {
	font-family: 'Averta Demo PE';
	color: white;
	margin: 5px;
	padding-top: 16px
}

.event-image{
	width: 270px
}

.info, .success, .warning, .error, .validation {
	border: 1px solid;
	margin: 10px 0px;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}
.info {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('https://i.imgur.com/ilgqWuX.png');
}
.success {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('https://i.imgur.com/Q9BGTuy.png');
}
.warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('https://i.imgur.com/Z8q7ww7.png');
}
.error{
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('https://i.imgur.com/GnyDvKN.png');
}
.validation{
	color: #D63301;
	background-color: #FFCCBA;
	background-image: url('https://i.imgur.com/GnyDvKN.png');
}

.new-navbar{
	background-color: #009CDE;
	height: 60px;
	width: 80%;
	display: inline-block;
	margin-left: 10%;
	margin-right: 10%;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.nav-link {
	color: white;
}

.new-navbar a:hover {
	color: #262626;
}

.navbar-brand {
	margin-top: 0.1%;
	margin-left: 15px;
	float: left;
	display: inline-block;
}

.dropdown {
	display: inline-block;
	margin-top: 1%;
	float: right;
}

.my-3 {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.text-right {
	float: right;
	margin-top: 0.1rem;
	color: black;
}

#rooms {
	padding-top: 20px;
}

.btn-primary {
	margin-left: 0;
}

.room-title {
	font-family: 'Averta Demo PE cutted demo';
}

.seatmap {
	font-family: 'Averta Demo PE cutted demo';
}

.page-fonts{
	font-family: 'Averta Demo PE cutted demo';
}

.header-fonts{
	font-family: 'Averta Demo PE cutted demo';
}

.page-links {
	a:link {
		color: #d00070;
	  }
	a:visited {
	color: #d00070;
	}
	a:hover {
		color: #262626;
	  }
}

.interest-input {
	width: 30%
}

.form-inputs {
	width: 50%
}
