.avatar {
	max-height:30px;
	border-radius: 15px;
	width:auto;
	vertical-align:middle;
  }

.room-nav-link {
	border: 1px solid lighten($primary, 40%);
	background: lighten($primary, 45%);

& + .room-nav-link {
	border-top: 0 none;
}
}

.chat {
	border: 1px solid lighten($secondary, 40%);
	background: lighten($secondary, 50%);
	height: 50vh;
	border-radius: 5px 5px 0 0;
	overflow-y: auto;
  }
  
.chat-input {
	border-top: 0 none;
	border-radius: 0 0 5px 5px;
  }

.chat-message-container {
padding: 5px;

.avatar {
	margin: 5px;
}

.message-content {
	padding: 5px;
	border: 1px solid $primary;
	border-radius: 5px;
	background: lighten($primary, 10%);
	color: $white;
}

& + .chat-message-container {
	margin-top: 10px;
}
}

.welcome-logo {
	width: 50%
  }

.home-button {
	background-color:#009bde;
	border-radius:31px;
	text-align: center;
	padding: 12px 0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Averta Demo PE cutted demo;
	font-size:21px;
	width:300px;
	height:60px;
	border:2px solid #262626;
	text-decoration:none;
	}

.home-button:hover {
	background-color:#262626;
	text-decoration:none;
	color:#ffffff;
	}

.home-button:active {
	position:relative;
	top:1px;
	}

.home-form-inputs {
	width: 30%
	}

.navbar-brand {
	font-family: 'Averta Demo PE';
}

.navvo {
	background-color: #009CDE;
}

.event-image{
	width: 270px
}

