
.profile-summary {
  width: 30%;
  background: -webkit-linear-gradient(top, #6db3f2 0%,#ccd3dd 100%);
  margin: auto;
  text-align: center;
  margin-bottom: 100px;
  border-radius: 25px;
  border-style: groove;
  border-color: #009cde;
  border-width: 3px;
  padding-bottom: 30px;
  color: #262626;
  text-shadow: 4px 2px 2px rgba(74, 152, 202, 0.59);
}

.review-section {
  width: 100%;
  margin: 0 auto;
  display: inline;
}

.review-table {
  width: 100%;
  height: 300px;
  overflow: scroll;
}

.reviews {
  display: inline-block;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 25px;
  border-style: groove;
  border-color: #009cde;
  border-width: 3px;
  text-align: center;
  border-collapse: collapse;
  overflow: scroll;
  height: 300px;

}

.reviews td, .reviews th {
  border: 1px solid #262626;
  padding: 3px 2px;
}

.reviews tbody td {
  font-size: 13px;
}

.reviews tr:nth-child(even) {
  background: #CBDFEA;
}

.reviews thead {
  background: #009CDE;
  border-bottom: 2px solid #444444;
}

.reviews thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #D00070;
}
.reviews thead th:first-child {
  border-left: none;
}

.new-review {
  float: right;
  width: 30%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 25px;
  border-style: groove;
  border-color: #009cde;
  border-width: 3px;
  padding: 10px;
  height: 300px;
  background: -webkit-linear-gradient(top, #6db3f2 0%,#ccd3dd 100%);
}
