.user-events {
  margin-top: 30px;
}

.events-table {
  border: 1px solid #009BDE;
  background-color: #EEEEEE;
  width: 80%;
  text-align: center;
  border-collapse: collapse;
}

.events-table td, .events-table th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}

.events-table tbody td {
  font-size: 13px;
}

.events-table tr:nth-child(even) {
  background: #D0E4F5;
}

.events-table thead {
  background: #009BDE;
  background: -moz-linear-gradient(top, #40b4e6 0%, #19a5e1 66%, #009BDE 100%);
  background: -webkit-linear-gradient(top, #40b4e6 0%, #19a5e1 66%, #009BDE 100%);
  background: linear-gradient(to bottom, #40b4e6 0%, #19a5e1 66%, #009BDE 100%);
  border-bottom: 2px solid #262626;
}

.events-table th {
  background: #009BDE;
  font-size: 17px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #D0E4F5;
}

.events-table thead th:first-child {
  border-left: none;
}
